/themes/simple
/vendor/
/.env
/silverstripe-cache/
/resources/
/public/resources/
/themes/main/images/

# custom ignore
*.bak
*.sql
*.tar.xz

.editorconfig
.env.example
.htaccess
README.md
betterbuttons/
composer.lock
node_modules/
package-lock.json
phpcs.xml.dist