/silverstripe-cache/
/.env
/vendor/
/themes/simple/
/resources/

/app/_config.php
/app/_config/mysite.yml
/public/resources/
/public/install-frameworkmissing.html
/public/install.php
/public/favicon.ico
/public/index.php
/public/web.config
/public/assets/.gitignore
/public/assets/.htaccess
/public/assets/web.config
.editorconfig
.env.example
.htaccess
README.md
betterbuttons/
composer.lock
/node_modules/
package-lock.json
phpcs.xml.dist
