/** 
 * VARIABLES
 * --
 * Set the default values according to your preference.
**/


/** 
 * COLORS
 * --
 * Add all the colors that you needed. Format: color--[colorname]
 */

$color--darkred: #781915;
$color--red: #D52E29;
$color--lightred: #FF5D58;
$color--black: #444;
$color--gray: #A8A8A8;
$color--white: #F6F6F6;


/** 
 * FONTS
 * --
 * Add all the fonts that you needed. Format: font--[number]
 */

$font--1: 'Questrial', sans-serif;	
$font--2: 'Questrial', sans-serif;


/** 
 * PADDING
 */
$frm-padding: 70px 0; // Padding for top & bottom