/** 
 * VARIABLES
 * --
 * Set the default values according to your preference.
**/


/** 
 * COLORS
 * --
 * Add all the colors that you needed. Format: color--[colorname]
 */
/* Primary Colors */
$color--brown: #b87e2f;

/* Secondary Colors */
$color--blue: #2f5094;
$color--gray: #b9b9b9;
$color--white: #ffffff;


/** 
 * FONTS
 * --
 */

$font--1: '';	
$font--2: '';


/** 
 * PADDING
 * --
 */
$frm-padding: 70px 0; // Padding for top & bottom

/** 
 * Frame Background
 * --
 */
$frame-bg--pos__t: top center;
$frame-bg--pos__r: right center;
$frame-bg--pos__b: bottom center;
$frame-bg--pos__l: left center;
$frame-bg--pos__c: center center;